specifications/xml/jobDescription.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Joseph (Imperial) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">	<xs:element name="JobDescription">		<xs:annotation>			<xs:documentation>Comment describing your root element</xs:documentation>		</xs:annotation>		<xs:complexType>			<xs:sequence maxOccurs="unbounded">				<xs:element name="db" type="dbType"/>			</xs:sequence>		</xs:complexType>	</xs:element>	<xs:complexType name="dbTableFieldsType">		<xs:sequence maxOccurs="unbounded">			<xs:element name="dbFieldName"/>			<xs:element name="presentationName"/>		</xs:sequence>	</xs:complexType>	<xs:complexType name="dbContentsType">		<xs:sequence maxOccurs="unbounded">			<xs:element name="dbTablename"/>			<xs:element name="dbTableFields" type="dbTableFieldsType"/>		</xs:sequence>	</xs:complexType>	<xs:complexType name="dbType">		<xs:sequence maxOccurs="unbounded">			<xs:element name="dbName"/>			<xs:element name="dbContents" type="dbContentsType" maxOccurs="unbounded"/>		</xs:sequence>	</xs:complexType></xs:schema>